<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Usuario</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" href="agregar-usuario" shape="round"> 
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="margin-list">
    <ion-item>
      <ion-label position="floating">USUARIO</ion-label>
      <ion-input placeholder="Usuario" [(ngModel)]="usuario" class="margin" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CONTRASEÑA</ion-label>
      <ion-input placeholder="Contraseña" type="password" [(ngModel)]="pass" class="margin" required></ion-input>
    </ion-item>
  </ion-list>
  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br>
  <ion-button (click)="guardar()" class="alinear_bottom" color="success" expand="full" fill="solid">
    GUARDAR
  </ion-button>

</ion-content>
