<ion-header>
  <ion-toolbar>
    <ion-title>Editar Usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="margin-list">
    <ion-item>
      <ion-label position="floating">USUARIO</ion-label>
      <ion-input placeholder="Usuario" [(ngModel)]="usuario" class="margin" name="user" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CONTRASEÑA</ion-label>
      <ion-input placeholder="Contraseña" type="password" [(ngModel)]="pass" class="margin" name="pass" required></ion-input>
    </ion-item>
  </ion-list>
  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br>
  
  <ion-button (click)="guardar()" class="alinear_bottom" color="success" expand="full" fill="solid">
    ACTUALIZAR
  </ion-button>

</ion-content>
