<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background: url('assets/img/fondoMovil2.jpg');" class="custom-background"><br>
    <ion-card>
      <ion-card-header>
       <ion-title class="custom-title">Departamento de T.I</ion-title>
      </ion-card-header>
      <ion-card-content>
        <p style="text-align: justify;">Para solicitar al Departamento de T.I la recuperación o modificacion de su contraseña debe indicar
          su codigo de operario para poder validar la información y realizar el proceso.</p>
        <ion-item class="custom-item">
          <ion-label position="floating">Código de Operario</ion-label>
          <ion-input type="text" style="text-transform:uppercase;"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <br>
    <ion-button class="custom-button">Enviar Solicitud</ion-button>
  </div>
</ion-content>
